---
layout: default
title: Blog
---
{% for post in site.posts %}
  {% capture currentyear %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% if currentyear != year %}
    {% unless forloop.first %}
      </ul>
    {% endunless %}
    <h2>{{ currentyear }}</h2>
    <ul class="archive">
    {% capture year %}{{ currentyear }}{% endcapture %}
  {% endif %}
  <li>
    <span class="archive-date hide-mobile">{{ post.date | date: "%A, %B %-d" }}</span>
    <span class="archive-date hide-desktop">{{ post.date | date: "%b %d" }}</span>
    <a class="archive-title" href="{{ post.url }}">{{ post.title }}</a>
  </li>
{% endfor %}
