<head>
  <meta charset="UTF-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
      {{ page.title }} &middot; {{ site.author.name }}
  </title>

  <!-- Font -->
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400|Crimson+Text:400,700,400italic,700italic|Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <link rel="stylesheet" href="/styles.css">

  <!-- Icons -->
  <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.author.name }}" href="/atom.xml">
</head>
