.hero {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("/public/images/brand2.jpg");
  background-size: cover;
}

.hero h1 {
  margin-bottom: 0.5em;
  font-size: 250%;
  line-height: normal;
}

.hero p {
  font-family: var(--heading-font-family);
  font-size: 120%;
}

.hero :first-child {margin-top: 0;}
.hero :last-child {margin-bottom: 0;}
