.o-nav {
  padding-top: 1em;
  height: 100%;
}

.o-nav__element {
  justify-content: space-around;
  width: 30%;
  margin: 0 auto;
  display: none !important;
}

@media (--breakpoint-lg-up) {
  .o-nav__element { display: flex !important }
}
