:root {

  --color-text: #424242;
  --color-background: #fff;

  --color-grey-1: #f9f9f9;
  --color-grey-2: #e5e5e5;

  --color-red:    #e44053;
  --color-orange: #fc5640;
  --color-yellow: #ffc036;
  --color-gold:   #cfba88;
  --color-green:  #28dba4;
  --color-blue:   #336efb;
  --color-purple: #70628e;

  --color-primary:     var(--color-gold);
  --color-development: var(--color-blue);
  --color-design:      var(--color-green);
  --color-personal:    var(--color-red);

}
