:root {

  --color-primary: #cfba88;
  --color-text: #424242;
  --color-background: #fff;

  --color-development: #336efb;
  --color-design:      #2de68b;
  --color-personal:    #fc5640;
  --color-misc:        #eeae4d;

}
