:root {

  --body-font-size: 1rem;
  --line-height: 1.5;
  --font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  --heading-font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
  --heading-font-weight: bold;
  --monospace-font-family: 'Source Code Pro', Consolas, monospace;
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;
  --bold-font-weight: bold;

}
