.c-nav__item{
  font-family: "Montserrat";
  letter-spacing: 0.1em;
  padding: 0 0.1em 0 0.2em;
  color: #424242;
  text-transform: uppercase;
  text-decoration: none;
  transition:  all .2s ease;
}

.c-nav__title {
  font-family: "Montserrat";
  text-decoration: none;
  color: white;
  padding: 0.2em 0 0.2em 1em;
  font-weight: bold;
  transition:  all .2s ease;
  &:hover {
    opacity: 0.7;
  }
}

