@media (--breakpoint-sm-up) {
  .hide-sm-up { display: none !important }
}

@media (--breakpoint-md-up) {
  .hide-md-up { display: none !important }
}

@media (--breakpoint-lg-up) {
  .hide-lg-up { display: none !important }
}

@media (--breakpoint-sm-down) {
  .hide-sm-down { display: none !important }
}

@media (--breakpoint-md-down) {
  .hide-md-down { display: none !important }
}

@media (--breakpoint-lg-down) {
  .hide-lg-down { display: none !important }
}

.display-none { display: none !important }

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
