.bold    { font-weight: var(--bold-font-weight, bold); }
.regular { font-weight: normal; }
.italic  { font-style: italic; }
.caps    { text-transform: uppercase; }

.code { font-family: var(--monospace-font-family); }

.huge {
  line-height: 1.2;
  font-size: calc(var(--body-font-size) * 5);
}

@media (--breakpoint-sm-down) {

  .huge {
    font-size: calc(var(--body-font-size) * 4);
  }

}

.left-align   { text-align: left; }
.center       { text-align: center; }
.right-align  { text-align: right; }
.justify      { text-align: justify; }

.nowrap { white-space: nowrap; }
.break-word { word-wrap: break-word; }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

/*isto nao esta certo */
.link-none {
  color: inherit;
  text-decoration: none;
}
.link-none:hover {
  box-shadow: inset 0 -1px var(--color-primary);
}
