<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  {% if page.category %}
    <body class=theme-{{page.category}}>
  {% else %}
    <body>
  {% endif %}

    <nav>
      <a href="#menu">
        <img src="menu.svg" alt="menu">
      </a>
      <div class="caps list-reset flex flex-justify">
        <div class="center flex flex-justify" style="width: 30%; margin: auto">
          <a href="/blog">Blog</a>
          <a href="/work">Work</a>
        </div>
        <div class="center">
          <a href="/">João Campinhos</a>
        </div>
        <div class="center flex flex-justify" style="width: 30%; margin: auto">
          <a href="/work">About Me</a>
          <a href="/contact">Contact</a>
        </div>
      </div>
      <p class="center">João Campinhos</p>
    </nav>

    <main>
      {{ content }}
    </main>

    <footer class="p2 inverse">
      Aqui fica o footer
    </footer>

  <script>unorphan('h1, h2, h3, p, li, .unorphan')</script>

  </body>
</html>
