html {
  min-height: 100%;
  font-family: var(--font-family);
  font-size: var(--body-font-size);
  /*line-height: var(--line-height);*/
  color: var(--color-text);
  overflow-y: scroll;
  text-size-adjust: 100%;
}

::selection {
  color: #fff;
}

::-moz-selection{
  color: #fff;
}

hr {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
  border: 0;
  width: 20%;
  margin: 2em auto;
}

@media (--breakpoint-md-down) {
  html {
    font-size: 14px;
  }
}

@media (--breakpoint-sm-down) {
  html {
    font-size: 16px;
  }
}





