blockquote {
  text-align: center;
  opacity: 0.7;
  font-style: oblique;
  transition: all 0.5s;
  margin: 3em auto;
  padding: 0 2em;
  &:hover {
    opacity: 1;
  }
  > p {
    font-size: 120%;
  }
}
