.post-body {
  font-size: 18px;
  line-height: 1.8;
}

.post-body > p:first-child::first-letter {
float: left;
    color: #000;
    font-size: 7rem;
    line-height: 85px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 3px;
  font-family: "Montserrat";
    font-weight: 700 !important;
    margin-left: 0px !important;
}
